* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
    nav {
        border: 1px solid black;
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(173, 173, 173);
        align-items: center;
    }
    nav h1 {
        margin-left: 5px;
    }
   
    .hero-container {
        width: 100%;
        height: 100%; 
        
    }
    .bio {
        width: 80%px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        padding: 15px;
    }
    .bio h2 {
        
        margin: 0;
        text-align: center;
        top: 123px;
    }
    .project {
        height: 250px;
        width: 80%px;
        border: 1px solid black;
        background-color: rgb(224, 224, 224);
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .two, .three, .four {
        display: none;
    }
    .project h2 {
        margin: 0;
        text-align: center;
        position: relative;
        top: 97px;
    }
    .html-logo {
        width: 20px;
        height: 20px;
        background: url("http://www.stickpng.com/assets/images/5847f5c3cef1014c0b5e489d.png");
        background-size: cover;
    }
    .css-logo {
        background: url("https://sitejerk.com/images/background-attachment-3.png");
        background-size: cover;
        width: 20px;
        height: 20px;
    }
    .js-logo {
        background: url("https://cdn.freebiesupply.com/logos/large/2x/javascript-logo-png-transparent.png");
        background-size: cover;
        width: 20px;
        height: 20px;
    }
    .jq-logo {
        background: url("http://pluspng.com/img-png/jquery-logo-png--512.png");
        background-size: cover;
        width: 20px;
        height: 20px;
    }
    .two, .three, .four {
        margin-top: 0;
    }
    .footer {
        width: 100%;
        height: 50px;
        margin: 0;
        background-color: rgb(131, 129, 129); 
    }
    .footer p {
        margin: 0;
        text-align: center;
        font-size: 120%;
    }
@media screen and (min-width: 751px) {
    nav {
        height: 100%;
        width: 25%;
        position: fixed;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav h1 {
        position: absolute;
        top: 50px;
    }
    li {
        list-style-type: none;
    }
    .hidden {
        display: none;
    }
    .nav-links {
        position: absolute;
        top: 100px;
        flex-direction: column;
        border: 1px solid black;
        padding: 0;
    }
    .project-links {
        flex-direction: column;
        padding: 0;
    }
    .project-links li:hover {
        cursor: pointer;
    }
    .quiz-app:hover {
        cursor: pointer;
    }
    body {
        position: fixed;
        right: 0;
        width: 75%;
    }
    .small {
        display: none;
    }
    .large {
        display: block;
    }
   .footer {
       display: none;
   }
    .bio {
        margin-top: 0;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bio p {
        text-align: center;
    }
    .project {
        width: 65%;
        height: 30%;
    }
    .one {
        background: url("https://i.imgur.com/dRgRaR1.png");
        background-size: cover;
    }
    .description-one p {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .links {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        display: flex;
        justify-content: center;
        margin-top: 10px; 
    }
    .links a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }
    .languages {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 750px) {
    .bio {
        width: 100%;
    }
    .large {
        display: none;
    }
    .small {
        display: block;
    }
    .bio p {
        text-align: center;
    }
    .project {
        width: 65%;
    }
    .one {
        background: url("https://i.imgur.com/dRgRaR1.png");
        background-size: cover;
    }
    .description-one p {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-links {
        display: flex;
        position: absolute; 
        right: 5px;
        align-items: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav-links li {
        list-style-type: none;
        margin-left: 10px;
    }
    .links {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        display: flex;
        justify-content: center;
        margin-top: 10px; 
    }
    .links a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }
    .languages {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}