* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: #dfe6e9;
    text-decoration: none;
}
a:visited {
    color: #dfe6e9;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #cad6db;
}
nav {
    background-color: rgb(16, 16, 58);
    color: #dfe6e9;
    display: flex;
    width: 100%;
    align-items: center;
}
nav h1 {
    margin-left: 5px;
}

.bio {
    width: 80%px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: #00000F;
}
.bio h2 {
    margin: 0;
    text-align: center;
    top: 123px;
}
.project-links li{

    text-align: center;
    border: 2px solid #636e72;
    padding: 5px;
    border-radius: 4px;
}
.project {
    background-color: rgb(224, 224, 224);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-bottom: 2px solid rgb(5, 5, 32);
}

.project h2 {
    margin: 0;
    text-align: center;
    position: relative;
    top: 97px;
}
.html-logo {
    width: 20px;
    height: 20px;
}
.css-logo {
    width: 20px;
    height: 20px;
}
.js-logo {
    width: 20px;
    height: 20px;
}
.jq-logo {
    width: 20px;
    height: 20px;
}
.one, .two, .three, .four {
    margin-top: 0;
}
.footer {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: rgb(131, 129, 129); 
}
.footer p {
    margin: 0;
    text-align: center;
    font-size: 120%;
}
.links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    border-bottom: 1px solid #00001E;
}
.links a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #00000F;
}
.links a:visited {
    color: #00000F;
}
.languages {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.project-container {
    border: 2px solid #00001E;
    background-color: #dfe6e9;
    border-radius: 3px;
}
@media screen and (min-width: 976px) {
    header {
        height: 100%;
        width: 20%;
        float: left;
        clear: none;
        border-right: 4px solid #636e72;
    }
    nav {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav h1 {
        position: absolute;
        
        top: 50px;
        margin-left: 0;
    }
    li {
        list-style-type: none;
    }
    .nav-links {
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 90px;
        padding: 0;
    }
    .nav-links li {
        margin-right: 10px;
        margin-left: 10px;
    }
    .project-links {
        flex-direction: column;
        padding: 0;
    }
    .project-links li {
        background-color:#444c4e;
        color: #dfe6e9;
        border: 2px solid #cad6db;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .project-links li:hover {
        cursor: pointer;
    }
    .quiz-app:hover {
        cursor: pointer;
    }
  
    .small {
        display: none;
    }
    .large {
        display: block;
    }
   .footer {
       display: none;
   }
    .bio {
        margin-top: 0;
    }
    .project-container {
        display: none;
        width: 750px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 80%;
        margin: 0;
        float: right;
        clear: none;
    }
    .bio p {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 20px;
        line-height: 32px;
    }
    .project {
        height: 500px;
        width: 100%;
        display: none;
    }
    .one {
        background: url("https://i.imgur.com/dRgRaR1.png")no-repeat center center;
        background-size: cover;
    }
    .quiz-img {
        height: 100%;
        width: 100%;
    }
    .description-one {
        display: none;
    }
    .description-one p {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .description-two {
        display: none;
    }
    .description-two p {
        text-align: center;
    }
    .links {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        margin-top: 10px; 
        margin-bottom: 10px;
    }
    .links a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }
    .languages {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 975px) and (min-width: 571px) {
    body {
        margin: 0;
        height: 100%;
    }
    h1 {
        font-size: 26px;
    }
    header {
        position: fixed;
        top: 0;
        height: 10%;
    }
    nav {
        position: fixed;
        top: 0;
        border-bottom: 4px solid #636e72;
    }
    .bio {
        width: 100%;
        position: absolute;
        top: 190px;
    }
   
    .bio p {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .large {
     display: none;
    }
    .small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        width: 100%;
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .small li {
        background-color: rgb(16, 16, 58);
        color: #dfe6e9;
        list-style-type: none;
        margin: 5px;
        font-size: 16px;
    }
    .small li:hover {
        cursor: pointer;
    }
    .project-container {
        position: absolute;
        top: 190px;
        width: 80%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: none;
        border: none;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 80px;
        height: 90%;
    }
    .project {
        width: 100%;
        border: 2px solid #00001E;
    }
    .links {
        border: none;
    }
    .one, .two, .three, .four {
        height: 60vw;
        }
    .one {
        background-image: url("https://i.imgur.com/dRgRaR1.png");
        background-size: cover;
        display: none;
    }
    .js-description {
        height: 126px;
        display: none;
    }
    .two, .three, .four {
        display: none;
    }
    .description-one {
        display: none;
    }
    .description-one p, .description-two p {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links {
        display: flex;
        position: absolute; 
        right: 20px;
        align-items: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    .nav-links li {
        list-style-type: none;
        margin-left: 10px;
    }
    .footer {
        display: none;
    }
}
@media screen and (max-width: 570px) {
    h1 {
        font-size: 20px;
    }
    body {
        margin: 0;
        height: 100%;
    }
    header {
        position: fixed;
        top: 0;
        height: 10%;
        
    }
    nav {
        position: fixed;
        top: 0;
        border-bottom: 4px solid #636e72;
    }
    .bio {
        width: 100%;
        position: absolute;
        top: 190px;
    }
    .links {
        border: none;
    }
    .project-links li {
        background-color: rgb(16, 16, 58);
        color: #dfe6e9;
    }
    .project-container {
        position: absolute;
        border: none; 
        background: none;
        top: 190px;
        width: 100%;
    }
    .one, .description-one, .two, .description-two {
        position: relative;
        top: 0px;
    }
    .bio p {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .large {
     display: none;
    }
    .small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        width: 100%;
        display: flex;
        padding: 0;
        justify-content: center;
        
    }
    .small li {
        list-style-type: none;
        margin: 5px;
        font-size: 16px;
    }
    .small li:hover {
        cursor: pointer;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 80px;
        height: 90%;
    }
    .project {
        width: 65%;
    }
    .one, .two, .three, .four {
        height: 60vw;
        }
    .one {
        background-image: url("https://i.imgur.com/dRgRaR1.png");
        background-size: cover;
        display: none;
        border: none;
    }
    .js-description {
        height: 126px;
        display: none;
    }
    .two, .three, .four {
        display: none;
    }
    .description-one {
        display: none;
    }
    .description-one p, .description-two p {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-links {
        display: flex;
        position: absolute; 
        right: 20px;
        align-items: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    .nav-links li {
        list-style-type: none;
        margin-left: 10px;
    }
    .footer {
        display: none;
    }
}